/* aside bar */

aside{
    width: 40vw;
    background-color: #BDCBDB;
    text-align: left;
    text-wrap: wrap;
    padding: 1em 1em;
}

h2.side_heading{
    color: #F6F2F7;
    text-decoration-color: #DED8CE;
    letter-spacing: 1.5px;
    font-size: 32pt;
}

p.side_text{
    font-weight: 400;
    font-size: 12pt;
    color: #261803;
    max-width: inherit;
    text-wrap: wrap;
}

a.asidelink{
    color: lightsteelblue;
    font-size: 18pt;
    font-family: "Noto Sans", sans-serif;
    font-weight: 700;
}

a:visited{
    color: #261803;
}

ul{
    list-style-image: url(images/page_icons/pin.svg);
}

input[type=text].search{
    background-color:white;
    border: 2px solid black;
    color: black;
    font-family: "Noto Sans", sans-serif;
    font-size: 16pt;
    max-width: 250px;
    transition: max-width ease-in-out 0.3s;
    padding-left: 1em;
}

input:focus.search{
    max-width: 400px;
}


/* images */

img.icon{
    max-height: 25px;
}

img.card{
    border-radius: 7px;
    max-width: 250px;
    max-height: 300px;
}

img.mini_card{
    border-radius: 7px;
    max-width: inherit;
}
/* page elements */

.dropdown{
    position: relative;
    color: lightsteelblue;
    font-size: 18pt;
    font-family: "Noto Sans", sans-serif;
    font-weight: 700;
    text-decoration: underline;
}

.dropdown_content{
    display: none;
    position: absolute;
    background-color:#4C5A6B;
    min-width: 130px;
    padding: 12px 16px;
}

.dropdown:hover .dropdown_content {
    display: block;
}

header{
    max-height: fit-content;
    background-color: #98A48E;
    border-radius: 0px 0px 10px 0px;
    padding: 1em 3em;
}
header.clear{
    background:none;
}

.pagebox{
    background-color: #F6F2F7;
    width: 100%;
    max-height: max(fit-content, 100vh);
    display: flex;
}


.dish_deck{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: top;
    justify-content:center;
    gap: 2em;
    padding: 1em 0em;
    font-size: 12pt;
}

.dish_card_green{
    background-color: #98A48E;
    border-radius: 7px 7px 0px 0px;
    text-align: center;
    padding: 1em;
    max-width: 250px;
}

.dish_card_blue{
    background-color: #BDCBDB;
    border-radius: 7px 7px 0px 0px;
    text-align: center;
    padding: 1em;
    max-width: 250px;
}

.dish_card_light{
    background-color: #F6F2F7;
    border-radius: 7px 7px 0px 0px;
    text-align: center;
    padding: 1em;
    max-width: 250px;
}

.mini_item{
    background-color: #DED8CE;
    border-radius: 7px 7px 0px 0px;
    text-align: center;
    max-width: 20em;
    min-height: 10em;
}

section{
    text-align: center;
    margin: 3em 3em;
    border-radius: 10px;
    padding: 0.25em 1em;
    height: fit-content;
}

.textbox_red{
    background-color: #C3472B;
}

.textbox_blue{
    background-color: #90A8C3;
}

.textbox_green{
    background-color: #3F4739;
}

hr{
    align: center;
    color: #4C5A6B;
    size: 5px;
    width: 80vw;
}

/* favorites */

#favorites{
    /* sticky element at bottom that shows favorites */
    position: sticky;
    bottom: 0;
    background-color: #98A48E;
    border-top: 2px solid #F6F2F7;
    border-bottom: 2px solid #F6F2F7;
    height: 50px;
    display: flex;
    flex-direction: row;

    p{
        color: #F6F2F7;
        font-family: "Epunda Sans", sans-serif;
    }
    p.dt{
        font-weight: bold;
        text-decoration: underline;
        font-family: "Epunda Sans", sans-serif;
    }
    /* display: none; */

    .fav_card{
        border-radius: 7px 7px 0px 0px;
        text-align: center;
        padding: 1em;
        max-width: 250px;
    }
}


/* footer */

footer{
    background-color: #DED8CE;
    width: 100%;
    max-height: max(fit-content, 100vh);
    text-align: center;
    padding: 1em 1em;
}

input[type=text].small_input{
    background-color:#F6F2F7;
    border: 2px solid #3F4739;
    color: #3F4739;
    font-family: "Noto Sans", sans-serif;
    font-size: 14pt;
    max-width: 50%;
    padding: 0.5em 1em;
}

textarea.small_input{
    background-color:#F6F2F7;
    border: 2px solid #3F4739;
    color: black;
    font-family: "Noto Sans", sans-serif;
    font-size: 14pt;
    max-width: 50%;
    padding: 0.5em 1em;
}

textarea.large_input{
    background-color:#F6F2F7;
    border: 2px solid #3F4739;
    color: black;
    font-family: "Noto Sans", sans-serif;
    font-size: 14pt;
    width: 60%;
    height: fit-content;
    padding: 0.5em 1em;
}

button{
    display: block;
    border-radius: 7px;
    background-color: #3F4739;
    color: #F6F2F7;
    font-family: "Noto Sans", sans-serif;
    font-size: 14pt;
    margin: 1em auto;
    padding: 0.5em;
    width: 10em;
}

button:hover{
    color: #261803;
    background-color: #BDCBDB;
    border-color: #3F4739;
}


/* text formatting */

h1{
    font-size: 40pt;
    font-family: "Epunda Sans", sans-serif;
    text-align: center;
    font-weight: 900;
    color:#3F4739;
}

h2{
    font-size: 28pt;
    font-family: "Epunda Sans", sans-serif;
    text-decoration: underline;
    letter-spacing: 2px;
    text-align: center;
    font-weight: 700;
    color:#4C5A6B;
}

h2.light{
    color: #F2F6F8;
    font-weight: 700;
}

h3{
    color: #261803;
    font-family: "Epunda Sans", sans-serif;
    font-weight: 500;
    text-decoration: underline;
    font-size: 18pt;
    text-align: center;
}

p{
    color: #261803;
    font-family: "Noto Sans", sans-serif;
    font-weight: 400;
    font-size: 14pt;
    text-align: center;
}

p.important{
    font-weight: 700;
}

p.italic{
    font-style: italic;
    font-weight: 450;
}

p.light{
    color: #F6F2F7;
}

p.green{
    color: #3F4739;
}


p.caption{
    text-align: center;
    font-weight: 300;
    text-decoration: none;
    color: #261803;
    max-width: inherit;
    text-wrap: wrap;
    font-size: 0.85em;
    padding: 0 2em;
}

/* fonts */


.epunda-sans-light {
  font-family: "Epunda Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

.epunda-sans-normal {
  font-family: "Epunda Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}


.noto-sans-light> {
  font-family: "Noto Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.noto-sans-bold {
  font-family: "Noto Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}