/* aside bar */

nav{
    background-color: #4C5A6B;
    padding: 0em 3em;
    display: flex;
    gap: 2em;
    align-items: center;
}

a.navlink{
    color: lightsteelblue;
    font-size: 18pt;
    font-family: "Space Mono", monospace;
    font-weight: 700;
}

a.droplink{
    color: #b0c4de;
    font-size: 18pt;
    font-family: "Space Mono", monospace;
    font-weight: 700;
    margin: 0.75em 0em;
}

p.droplink{
    color: #b0c4de;
    font-size: 18pt;
    font-family: "Space Mono", monospace;
    font-weight: 700;
    margin: 0.75em 0em;
}

a:visited.navlink{
    color: lightsteelblue;
}

input[type=text].search{
    background-color:white;
    border: 2px solid black;
    color: black;
    font-family: "Space Mono", monospace;
    font-size: 16pt;
    max-width: 250px;
    transition: max-width ease-in-out 0.3s;
    padding-left: 1em;
}

input:focus.search{
    max-width: 400px;
}


/* images */

img.icon{
    max-height: 25px;
    border-radius: 5px;
}

img.animal_card{
    border-radius: 7px;
    max-width: 400px;
}

img.mini_card{
    border-radius: 7px;
    max-width: inherit;
}
/* page elements */

.dropdown{
    position: relative;
    color: lightsteelblue;
    font-size: 18pt;
    font-family: "Space Mono", monospace;
    font-weight: 700;
    text-decoration: underline;
}

.dropdown_content{
    display: none;
    position: absolute;
    background-color:#4C5A6B;
    min-width: 130px;
    padding: 12px 16px;
}

.dropdown:hover .dropdown_content {
    display: block;
}

header{
    min-height: fit-content;
    background-color: #B0C4DE;
    border-radius: 0px 0px 15px 15px;
    padding: 1em 0em;
}
header.clear{
    background:none;
}

.pagebox{
    background-image: linear-gradient(#F8EFE8,#F2F6F8);
    width: 100%;
    max-height: max(fit-content, 100vh);
    padding-bottom: 10vh;
}


.animal_gallery{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content:center;
    gap: 3em;
    padding: 5em 1em;
}

.animal_item{
    background-color: #A49079;
    border-radius: 7px 7px 0px 0px;
    text-align: center;
    max-width: 400px;
}

.detail_gallery{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content:center;
    gap: 3em;
    padding: 5em 1em;
}

.detail_item{
    background-color: #A49079;
    border-radius: 7px 7px 0px 0px;
    text-align: center;
    max-width: 400px;
    min-height: 400px;
}

.mini_item{
    background-color: #A49079;
    border-radius: 7px 7px 0px 0px;
    text-align: center;
    max-width: 20em;
    min-height: 10em;
}
.detail_item_light{
    background-color: #B0C4DE;
    border-radius: 7px 7px 0px 0px;
    text-align: center;
    width: 400px;
    height: fit-content;
    padding: 3em 2em;
}

.textbox{
    text-align: center;
    margin: 3em 3em;
    min-height: 350px;
    padding: 0 2em;
}

.textbox_green{
    text-align: center;
    background-color: #C9E79C;
    border: 4px #A49079 solid;
    border-radius: 10px;
    margin: 3em 3em;
    height: fit-content;
    padding: 4em 2em;
}

hr{
    align: center;
    color: #4C5A6B;
    size: 5px;
    width: 80vw;
}

/* forms */

.form{
    padding: 1em 2em;
}

input[type=text].small_input{
    background-color:white;
    border: 2px solid black;
    color: black;
    font-family: "Space Mono", monospace;
    font-size: 14pt;
    max-width: 50%;
    padding: 0.5em 1em;
}

input[type=file]{
    border: 3px solid #4C5A6B;
    padding: 4em;
    font-size: 12pt;
}

textarea.small_input{
    background-color:white;
    border: 2px solid black;
    color: black;
    font-family: "Space Mono", monospace;
    font-size: 14pt;
    max-width: 50%;
    padding: 0.5em 1em;
}

textarea.large_input{
    background-color:white;
    border: 2px solid black;
    color: black;
    font-family: "Space Mono", monospace;
    font-size: 14pt;
    width: 60%;
    height: fit-content;
    transition: width ease-in-out 0.3s;
    padding: 0.5em 1em;
}

button{
    border-radius: 7px;
    background-color: #4C5A6B;
    font-family: "Space Mono", monospace;
    font-size: 14pt;
    margin: 1em 3em;
    padding: 0.5em;
    width: 10em;
}

button:hover{
    color: #F2F6F8;
    background-color: #B0C4DE;
    border-color: #B0C4DE;
}


/* text formatting */

h1{
    font-size: 32pt;
    font-family: "Bona Nova", serif;
    text-decoration: underline;
    text-align: center;
    font-weight: 700;
    color:#4C5A6B;
}

h2{
    font-size: 20pt;
    font-family: "Bona Nova", serif;
    text-align: center;
    font-weight: 700;
    margin-bottom: 3em;
    color:#4C5A6B;
}

h2.light{
    color: #F2F6F8;
    font-family: "Space Mono", monospace;
}

p{
    color: #0A0908;
    font-family: "Space Mono", monospace;
}

p.important{
    font-weight: 700;
}

p.caption{
    text-align: center;
    font-weight: 700;
    text-decoration: none;
    color: #F8EFE8;
    text-decoration-color: #F8EFE8;
    max-width: inherit;
    text-wrap: wrap;
    padding: 0 2em;
}
p.captiondark{
    text-align: center;
    font-weight: 700;
    text-decoration: none;
    color: #0A0908;
    text-decoration-color: #F8EFE8;
    max-width: inherit;
    text-wrap: wrap;
    padding: 0 2em;
}

/* fonts */

.bona-nova-regular {
  font-family: "Bona Nova", serif;
  font-weight: 400;
  font-style: normal;
}

.bona-nova-bold {
  font-family: "Bona Nova", serif;
  font-weight: 700;
  font-style: normal;
}

.bona-nova-regular-italic {
  font-family: "Bona Nova", serif;
  font-weight: 400;
  font-style: italic;
}


.space-mono-regular {
  font-family: "Space Mono", monospace;
  font-weight: 400;
  font-style: normal;

  .space-mono-bold {
  font-family: "Space Mono", monospace;
  font-weight: 700;
  font-style: normal;
}

}

.space-mono-regular-italic {
  font-family: "Space Mono", monospace;
  font-weight: 400;
  font-style: italic;
}
